---
permalink: /en/contacts.html
layout: main
lang: en
title: Контакты
menu_item: contacts
---

<style>
  .container {
    padding: 4em 4em 0;
    max-width: 40em;
  }
</style>

<div class="container animated fadeIn">
  <h4>Contacts</h4>
    <br>Digital Microautomatic. Digital technologies in automation systems.<br /> 
	Adress : Ukraine, Dnipro, Energeticheskaya str. 9a   <br />	
	Phone number : +38-066-978-02-05  <br />
	E-mail: support@dma.inf.ua<br />
</div>