---
permalink: /en/index.html
layout: main
lang: en
title: Home
menu_item: home
---

<style>
  .main-img {
    background-image: url(../assets/layout-img/welcome-img.jpg); 
    background-size: cover;
    padding: 4em;
  }
  .welcome-block {
    border-radius: 0.3em;
    background: rgba(0, 0, 0, 0.5);
    max-width: 50em;
    padding: 4em;
  }
  .welcome-block h2 {
    margin-bottom: 2em;
  }
  .welcome-block hr {
    width: 70%;
    border-bottom: 1px solid cadetblue;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  @media only screen and (max-width: 600px) {
    .welcome-block {
      padding: 4em 1em;
    }
    .main-img {
      padding: 0.5em;
    }
  }
</style>

<div class="container-fluid h-100 d-flex justify-content-center main-img animated fadeIn">
  <div class="text-white text-center welcome-block">
    <h2>Welcome</h2>
    <p>
       &emsp;&ensp; One of our business areas is electronics and microelectronics.<br>
       Here you can find our products and get all information about their implementation <br>
       and programming.
    </p>
    <hr/>
	 In the Products section you will find a complete list and descriptions of all products.<br>
	 In the Support section you can find documentation and programs for downloading.<br>
	<br>
    <a href="products.html" class="btn btn-success">To Products</i></a>
    <a href="support.html" class="btn btn-success">To Support</i></a>
  </div>
</div>