 <div class="text-center footer">
	 {% if page.lang == 'en' %}
			{% assign footer = site.data.en.footer %}
	 {% else %}
			{% assign footer = site.data.uk.footer %}
	 {% endif %}
	 
  <hr/>
	{% for line in footer %}
  	{{ line }}
	 	<br/>
	{% endfor %}
</div>