<nav class="navbar navbar-light bg-light navbar-expand-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="mx-auto d-md-flex d-block flex-sm-nowrap text-center">
    <a class="navbar-brand mb-0 h1" href="#"><div class="logo">D</div>Digital MicroAutomatic</a>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
				{% if page.lang == 'en' %}
					{% assign menu = site.data.en.menu %}
				{% else %}
					{% assign menu = site.data.uk.menu %}
				{% endif %}
				
        {% for item in menu %} 
          <li class="nav-item {% if item.id == page.menu_item %} active {% endif %}">
            <a class="nav-link" href="{{ item.link }}">{{ item.text }}</a>
          </li>
        {% endfor %}
				
				
				<div class="dropdown lang-btn">
					<button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{% if page.lang == 'en' %}
							EN
						{% else %}
							UK
						{% endif %}
					</button>
					
					{% assign current_page = page.permalink | remove_first: "/uk/" | remove_first: "/en/" | remove_first: "uk/" | remove_first: "en/" %}
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% if page.lang == 'en' %}
							<a class="dropdown-item" href="../uk/{{ current_page }}">UK</a>
						{% else %}
							<a class="dropdown-item" href="../en/{{ current_page }}">EN</a>
						{% endif %}
					</div>
				</div>
      </ul>

    </div>
  </div>
</nav>