---
permalink: /uk/contacts.html
layout: main
title: Контакти
menu_item: contacts
---

<style>
  .container {
    padding: 4em 4em 0;
    max-width: 40em;
  }
</style>

<div class="container animated fadeIn">
  <h4>Контакти</h4>
    <br>Digital Microautomatic. Цифрові технологіі у системах автоматики.<br /> 
	Наша адреса 	 : Україна, г.Дніпро, вул. Энергетична 9а   <br />	
	Звоніть нам тел. : +38-066-978-02-05  <br />
	Пишить нам E-mail: support@dma.inf.ua<br />
</div>