---
permalink: /uk/index.html
layout: main
title: Головна
menu_item: home
---

<style>
  .main-img {
    background-image: url(../assets/layout-img/welcome-img.jpg); 
    background-size: cover;
    padding: 4em;
  }
  .welcome-block {
    border-radius: 0.3em;
    background: rgba(0, 0, 0, 0.5);
    max-width: 50em;
    padding: 4em;
  }
  .welcome-block h2 {
    margin-bottom: 2em;
  }
  .welcome-block hr {
    width: 70%;
    border-bottom: 1px solid cadetblue;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  @media only screen and (max-width: 600px) {
    .welcome-block {
      padding: 4em 1em;
    }
    .main-img {
      padding: 0.5em;
    }
  }
</style>

<div class="container-fluid h-100 d-flex justify-content-center main-img animated fadeIn">
  <div class="text-white text-center welcome-block">
    <h2>Вітаємо Вас</h2>
    <p>
      Один з напрямків нашого підприємства є електроніка та мікроелектроніка.
      Тут ви можете ознайомитися з нашими виробами та знайти всю інформацию про їхнє встановлення та програмування.
    </p>
    <hr/>
	 У розділі Продукція ви знайдете повный список та опис усіх виробів.<br>
	 У розділі Підтримка знаходиться документація та програми для завантаження.<br>
	<br>
    <a href="products.html" class="btn btn-success">Дивитися продукцію</i></a>
    <a href="support.html" class="btn btn-success">Перейти у підтримку</i></a>
  </div>
</div>