.navbar-nav .active {
  border-bottom: 1px solid #4f4fff;
}

.logo {
  display: inline-block;
  color: #7ec4c6;
  padding: 0 0.35em 0 0.4em;
  margin: 0 0.3em;
  background-color: #1c1c93;
  border-radius: 1em;
}

.footer {
  color: #8f8eaf;
  font-size: 0.8em;
  padding: 2em;
}

.btn {
  border-radius: 0.1em;
}

.btn-success {
  background-color: #33a362;
}

.lang-btn {
	margin: 0.3em 1.5em 0;
}
.dropdown-menu {
	min-width: 2em;
}

@media only screen and (max-width: 400px) {
  .logo {
    display: none;
  }
}

