---
permalink: en/products/blth_prog.html
layout: product
lang: en
title: Bluetooth programmer
menu_item: none
---

<div class="name">
    <h1>Bluetooth programmer</h1>
<p> DMA Devices Programmer for Android smartphones.</p>
</div>
<img class="banner" src="../assets/img/banner_blth_prog.jpg" alt="Blth prog" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Purpose:</h3>
		It is designed to connect DMA devices family to Android smartphones via Bluetooth channel.<br/>
	    The adjustment is configured by the application DMA-System. <br/>
		The app and the instruction you can find in section <a href="support.html">Support.</a>	 <br/>
		Or download this link <a href="../assets/download/DMA_BL_System.zip">DMA-System.</a>
		
            </section>
