---
permalink: en/products/dma72.html
layout: product
lang: en
title: DMA 72
menu_item: none
---
            <div class="name">
                <h1>DМА 72</h1>
                Automatic gate control module
            </div>
            <img class="banner" src="../assets/img/banner_DMA72.jpg" alt="DMA 72 photo" />
			<div class="shadow"></div>
            <br/>
            <section>
                <h3>Purpose:</h3>
                The module is designed to control the automatic gate or barrier through a call via GSM network or SMS control.
                <h3>Advantages:</h3>
                The system gives simple and inexpensive remote access for multi-user systems with a large number of subscribers, such as an automatic gate or barrier. When you call, money from a mobile phone is not removed. there is no hang up of phone.
            </section>
            <section>
                <h2>Description:</h2>
                <p>
                    Module DMA72.01 is designed to control automatic gates or other executive devices via a telephone call or SMS control. When it receives a call from a mobile phone, the module compares its number with the numbers in its memory (512-number memory capacity) and then gives control signal to Control Output 1. The handset on the mobile phone is not hang up, which makes it possible not to pay for voice calls. With special control SMS, you can turn on both Control Output 2 and Control Output 1, request a balance, and correct all the device settings. If its necessary, the module will send a confirmatin SMS for execution of the command.
                </p>
            </section>
            <section>
                <h2>Specification:</h2>
                <ul>
                    <li>2 remote control outputs;</li>
                    <li>Subscriber capacity - 512;</li>
                    <li>Control via SMS commands with confirmation and without confirmation;</li>
                    <li>Indication operation modes by LEDs;</li>
                    <li>Programming the system with a computer or SMS;</li>
                </ul>
            </section>
