---
permalink: en/products/dma39-4s.html
layout: product
lang: en
title: DMA 39-4s
menu_item: none
---

<div class="name">
    <h1>DМА 39-4s</h1>
    GSM alarm system.
</div>
<img class="banner" src="../assets/img/banner_dma39-4s.jpg" alt="DMA 39-4s photo" />
<div class="shadow"></div>
<br/>
<section>
    <h3>Purpose:</h3>
	Protection of static objects with 4 zones up to 12 zones and remote control via GSM network
    <h3>Short description:</h3>
    <ul>
        <li>4 input zones (can be extended up to 12)</li>
        <li>Arming / disarming line </li>
        <li>4 remotely or automatically controlled  outputs (up to 11)</li>
        <li>Voice and SMS messages</li>
        <li>Programming with Android smartphone or computer via USB or Bluetooth programmers</li>
		<li>Remote programming with mobile phone via SMS and DTMF commands </li>
    </ul>
    <h3>Advantages:</h3>
    Contact ID repeater.
    <br /><br/>
        Ability to connect:
    <ul>
        <li>Extension board</li>
        <li>Hands-Free Boards</li>
        <li>Door phone adapter</li>
        <li>Temperature Sensor</li>
    </ul>
</section>
<section>
    <h2>Description:</h2>
    <p>
        Security alarm system "DMA39-4s" with built-in GSM module. This system allows you to guard remote objects where is not a telephone line, it can be used as an additional system with previously installed security systems.
    </p>
    <p>
         The main difference between our alarms from all competitors is the ability to control and monitor the status of the alarm system via direct call with the voice menu, i.e. absolutely complete interactivity. In overwhelming majority of GSM alarms, the control and report are made via SMS, which is not very convenient and is not acceptable for security systems.
    </p>
    <p>
        The telephone communicator allows you to work together with static object alarm systems as a GSM dialer through the connection by Contact ID.
    </p>
    <p>
        When the handsfree module is connected, it allows a full voice communication with the object, which is extremely important if there are diability people, elderly or children on a room.
    </p>
    <p>
        Connection of temperature sensor with setting of 2 temperature warning points allows to control temperature in protected room.
    </p>
</section>
<section>
    <h2>Specifications</h2>
    <ul>
        <li>4 input alarm zones (can be extended up to 12;</li>
        <li>4 remote or automatically control outputs (up to 11);</li>
        <li>1 linear audio input (up to 8);</li>
        <li>Arming / disarming line (with ability to connect to keypad);</li>
        <li>Slot for connecting the handsfree module;</li>
        <li>10 numbers for dialing up;</li>
        <li>Voice interactive menu;</li>
        <li>The ability to record your own voice messages (5 messages for 6 seconds);</li>
        <li>Work with any security alarm system using Contact ID;</li>
        <li>Programming from computer via USB port, or from Android phone via Bluetooth connection;</li>
		<li>Remote programming with mobile phone via SMS and DTMF commands;</li>
        <li>System time;</li>
        <li>on-demand SMS report, about system settings and account status;</li>
        <li>Test messages - in hours (1 hour interval);</li>
        <li>Types of zones - each zone can be:<ul>
            <li>Delay Entry/Exit Zone;</li>
            <li>Stay/Away Zone;</li>
			<li>Instant Zone;</li>
            <li>24 hour Zone;</li>
            <li>Inactivity zone (alarm in case of inactivity).</li>
        </ul></li>
        <li>each security zone can be used with an alarm function for Normally Closed, Normally Opened or a zone with a resistor at the end of the loop.</li>
        <li>several types of delays for setting, unsetting and automatic arming<ul>
    </ul>

</section>