---
permalink: en/products/dma39-2s.html
layout: product
lang: en
title: DMA 39-2s
menu_item: none
---

<div class="name">
    <h1>DМА 39-2s</h1>
    GSM alarm system.
</div>
<img class="banner" src="../assets/img/banner_dma39-2s.jpg" alt="DMA 39-2s photo" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Purpose:</h3>
				Protection of small static objects with 2 zones and remote control via GSM network.
                <h3>Short description:</h3>
                <ul>
                    <li>2 alarm zones</li>
                    <li>arming / disarming line</li>
                    <li>2 remote or automatically control outputs</li>
                    <li>Voice and SMS messages</li>
					<li>built-in GSM and Bluetooth modules</li>
                    <li>Programming with Android smartphone or computer via USB or Bluetooth connection
                </ul>
                <h3>Advantages:</h3>
                This model is a simplified version of DMA 39-4s

            </section>
            <section>
                <h2>Description:</h2>
                <p>
                    Security alarm system "DMA39-2s" with built-in GSM and Bluetooth modules. This system allows you to guard remote objects there is not a telephone line, it can be used as an additional system with previously installed security systems. 
				</p> 
            </section>
            <section>
                <h2>Specifications:</h2>
                <ul>
                    <li>2 alarm zones;</li>
                    <li>2 remote or automatically control outputs;</li>
                    <li>1 linear audio input;</li>
                    <li>arming / disarming line (with ability to connect to keypad);</li>
                    <li>10 numbers for dialing up with a choice of access to the device according to categories;</li>
                    <li>voice interactive menu;</li>
                    <li>the ability to record your own voice messages(2 messages for 6 sec.);</li>
                    <li>programming from computer via USB port, or from Android phone via Bluetooth connection;</li>
					<li>remote programming with mobile phone via DTMF commands </li>
                    <li>system time;</li>
                    <li>on-demand SMS report, about system settings and account status;</li>
                    <li>Test messages - in hours (1 hour interval);</li>
					<li>each security zone can be used with an alarm function for Normally Closed, Normally Opened or a zone with a resistor at the end of the loop.</li>
                    <li>several types of delays for setting, unsetting and automatic arming<ul>
                </ul>

            </section>