---
permalink: en/products/dma41-2s.html
layout: product
lang: en
title: DMA 41-2s
menu_item: none
---

<div class="name">
    <h1>DМА 41-2s</h1>
<p>Contact ID annunciator.</p>
<p>GSM alarm system.</p>
</div>
<img class="banner" src="../assets/img/banner_dma41-2s.jpg" alt="DMA 41-2s photo" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Purpose:</h3>
				Connection to static object alarm systems for notification of events, using
				Contact ID protocol or alarm zones.
                Protection of static objects with 2 zones and remote control via GSM network.	
                <h3>Short description:</h3>
                <ul>
				    <li>The "Telephone line" output for connection to Contact ID communicators</li>
					<li>Up to 128 notification zones using the Contact ID protocol </li>
					<li>Full set of standard voice and SMS messages for notification</li>	
					<li>16 individually recorded voice and SMS messages </li>
					<li>2 languages (Russian / Ukrainian) of the interactive menu and standard voice messages. </li>
                    <li>2 input zones for connecting to alarms or for completely independent operations.</li>
                    <li>arming / disarming line for operation in the "Security alarm system" mode.</li>
                    <li>2 remote or automatically control  outputs. </li>
                    <li>2 extern temperature sensors for warning of critical temperatures. </li>
					<li>built-in GSM and Bluetooth modules</li>
                    <li>Programming with Android smartphone or computer via USB or Bluetooth connection</li>
					<li>Remote programming with mobile phone via SMS and DTMF commands </li>
                </ul>
                <h3>Advantages:</h3>
				   <ul>
                     <li>Flexible configuration with many additional functions.</li>
				     <li>The possibility of usage as an independent security alarm system.</li>
				   </ul>
                <br /><br/>

            </section>
            <section>
                <h2>Description:</h2>
                <p>
                    Security Contact ID alarm system "DMA41-2s" with built-in GSM and Bluetooth modules. Two main independent functions: notification of the owner about alarm events for previously installed security systems. It can be connected as a duplicating or extending function of the system.
The second function: the security alarm syste for 2 security zones. Both functions can work simultaneously, without disturbing each other.
This system is perfect for protection of small objects, working as security alarm system, and for very large objects, using the Contact ID protocol.
The module can receive the Contact ID messages from several security alarm systems simultaneously, and also work in parallel with others, for example, console safeguarding, informing the data about the events directly to the owner.
                </p>
                <p>
                   The main difference between our alarms from all competitors is the ability to control and monitor the status of the alarm system via direct call with the voice menu, i.e. absolutely complete interactivity. In overwhelming majority of GSM alarms, the control and report are made via SMS, which is not very convenient and is not acceptable for security systems.
                </p>
                <p>
                   Connection of 2 temperature sensors with setting of 2 temperature warning points allows to control the inside and outside temperature.
                </p>
            </section>
            <section>
                <h2>Specifications:</h2>
                <ul>
				    <li>The "Telephone line" output to connect to Contact ID communicators;</li>
					<li>work with any security systems using Contact ID>;</li>
					<li>up to 128 zones and up to 5 security alarm systems using the Contact ID protocol;</li>
                    <li>2 alarm zones;</li>
                    <li>2 remote control outputs;</li>
                    <li>1 linear audio input;</li>
                    <li>arming / disarming line (with ability connect to keypad);</li>
                    <li>15 numbers for dialing up with a choice of access to the device according to categories;</li>
                    <li>voice interactive menu;</li>
					<li>a large choice of prepared standard voice and SMS messages;</li>	
                    <li>the ability to record your own voice messages (16 messages for 5 seconds);</li>
					<li>the ability to write your own SMS messages (16 messages);</li>				
                    <li>programming from computer via USB port, or from Android phone via Bluetooth connection;</li>
                    <li>system time;</li>
                    <li>on-demand SMS report, about system settings and account status;</li>
                    <li>Test messages - in hours (1 hour interval);</li>
                    <li>types of zones - each zone can be:<ul>
                            <li>Delay Entry/Exit Zone;</li>
                            <li>Stay/Away Zone;</li>
							<li>Instant Zone;</li>
                            <li>24 hour Zone;</li>
                            <li>Inactivity zone (alarm in case of inactivity).</li>
                        </ul></li>
                    <li>each security zone can be used with an alarm function for Normally Closed, Normally Opened or a zone with a resistor at the end of the loop.</li>
                    <li>several types of delays for setting, unsetting and automatic arming<ul>
               </ul>
            </section>