---
permalink: en/products/dtk53.html
layout: product
lang: en
title: DTK-53
menu_item: none
---

<div class="name">
    <h1>DTK 53</h1>
<p> Car alarm system with GPS tracker .</p>
</div>
<img class="banner" src="../assets/img/banner_DTK53_k.jpg" alt="DTK 53 photo" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Purpose:</h3>
                Installation in a car as an additional device for notification and control through the GSM network or as an independent security device with the ability to control the location of the car its route, stop, etc. 
                <h3>Short description:</h3>
                <ul>
                    <li>2 alarm zones</li>
                    <li>line arming / disarming</li>
                    <li>2 remote control outputs</li>
                    <li>Voice and SMS messages</li>
                    <li>Programming with a mobile phone and a computer</li>
                    <li>GPS track</li>
                    <li>Rechargeable battery for up to 8 hours without external power supply</li>
                </ul>
                <h3>Advantages:</h3>
                <p/>GPS tracking is carried out through the Internet with various map services. Supports several types of connection protocol with GPS tracking sites.
                <p/>Combines the function of voice and SMS notifications and GPS tracker function.

            </section>
            <section>
                <h2>Description:</h2>
                <p/>GPS tracking is carried out through the Internet with  various map services. Supports several types of connection protocol with GPS tracking sites.
                 Combines the functions of voice and SMS notification and GPS tracker functions.
                <ul class="long_list">
                    <li>Number of alarm zones 2</li>
                    <li>Number of remote control outputs -2</li>
                    <li>Easy installation, the system comes with settings as close as possible to most cars. Possibility to use central lock control together with standard key fobs..</li>
                    <li>Flexible setting of the access to 10 phone numbers allows access to the system only to registered users whose numbers are in the list. For each number, you can define only those events that the user desires to receive information in the form of voice messages and / or SMS messages.</li>
                    <li>Сontrol via DTMF signals with voice prompts, allows users to control the system during a voice connection, tone signals (DTMF) and receive voice confirmation, similar to the service of the subscriber's mobile operator. Each connection session starts with entering a password, which additionally protects the system with identifying the user by phone number</li>
                    <li>Alarm report with voice and SMS messages for 10 subscribers numbers. If an active level is detected at the inputs or if an emergency system event occurs (the external power supply drop, etc.), the DTK53 generates an alarm text message and / or calls to the specified numbers.</li>
                    <li>Flexible configuration of pre-configured alarm messages and the ability to record your own messages.</li>
                    <li>Possibility of remote arming and disarming.</li>
                    <li>Remote audio control via external microphone. Listening to a protected vehicle can be initiated via the voice menu. The DTK53 will turn on the external microphone, just after receiving the DTMF command. At the end of listening, the user can return to the voice control menu.</li>
                    <li>Possibility of remote blocking of faulty alarm sensors, and control most of functions of the device.</li>
                    <li>Broad possibilities for event routing. The transition of the input to the active and / or passive state can affect the state of any output / output. Arming and disarming can also affect the status of the outputs.</li>
                    <li>Ability to assign names - aliases for inputs and outputs. Each input and output has a name that is used for status requests and management. Each input has the name of active and passive state. Names - aliases are user programmable.</li>
                    <li>Independent configuration of each of the 2 inputs. For each one you can program:
                        <ul>
                            <li>sensor name, active and passive sensor status;</li>
                            <li>boundaries of the alarm zone - the upper and lower boundaries of the zone define the voltage interval where the input is considered active;</li>
                            <li>alarm zone type: analog / discrete;</li>
                            <li>active level has 3 modes: low, middle, high;</li>
                            <li>24 hour monitoring, independently of the armed mode, for the alarm button, etc.;</li>
                            <li>action with the active level at the input: voice dialing, SMS, dialing and SMS, no action;</li>
                            <li>dependence on outputs.</li>
                        </ul>
                    </li>
                    <li>
                        Independent configuration of each of the 2 outputs. For each one you can program:
                        <ul>
                            <li>name;</li>
                            <li>type of switching: level or pulse, pulse duration;</li>
                            <li>enable / disable control via the voice menu;</li>
                        </ul>
                    </li>
                    <li>Programmable test messages and messages for arming / disarming.</li>
                    <li>SMS reports about all settings and system status</li>
                    <li>Remote balance request on the SIM card (can be included in the test message).</li>
                    <li>
                        Receiving GPS coordinates in four ways to choose one, or all together:
                        <ul>
                            <li>Via GPRS on an HTTP server with a database. Map software for the package does not include.</li>
                            <li>Via SMS messages with the coordinates of the object.</li>
                            <li>Via direct GSM-data dialing with reception of coordinates to the user's mobile device.</li>
                            <li>
                                Via special map services, for example:
                                http://gps-tracker.com.ua/
                                http://gps-trace.com/ ,
                                the alarm system is compatible with other services.
                            </li>
                        </ul>
                    </li>
                    <li>Notification when the external power is low and / or the battery is low. DTK53 generates SMS and / or dials up to the specified abonentss in case of reduction and restoration of external power supply, as well as when the battery is discharged to the specified critical level.</li>
                    <li>DTK-53 provides protection against loss of tracking data in the absence of GPRS / GSM network. The memory capacity is sufficient for several months of operation.</li>
                </ul>

            </section>