---
permalink: en/products/exten.html
layout: product
lang: en
title: Exten 8x7x8
menu_item: none
---

            <div class="name">
                <h1>Extention 8x7x8</h1>
               The extention module for adding alarm zones and outputs to alarm system DMA39-4s
            </div>
			<img class="banner" src="../assets/img/banner_exten.jpg" alt="exten photo" />
			<div class="shadow"></div>
            <br/>
            <section>
                <h3>Purpose:</h3>
                The module is used to add the number of alarm zones, controlled outputs and line-level audio inputs.
            </section>
            <section>
                <h2>Description</h2>
                <ul>
                    <li>8 additional alarm zones;</li>
                    <li>7 additional controlled outputs;</li>
                    <li>8 line-level audio inputs;</li>
                    <li>Each alarm zone can be used with an alarm function for unconnected, short circuit or a zone with a resistor at the end of the loop.</li>
                    <li>The outputs are open collectors of transistors with a maximum current of up to 250 mA.</li>
                    <li>If communication with the extension module is lost, an alarm is generated.</li>
                </ul>
            </section>
 