---
permalink: en/products/reboot.html
layout: product
lang: en
title: Rebuter
menu_item: none
---

            <div class="name">
                <h1>GSM rebooter</h1>
                GSM Rebooter for 5 remote control electrical sockets.
            </div>
		<img class="banner" src="../assets/img/banner_reboot.jpg" alt="Rebooter photo" />
        <div class="shadow"></div>
            <br/>
            <section>
                <h3>Purpose:</h3>
                GSM Rebooter is designed to control the power of various devices (power on, off or reset the power)  via GSM network calls or SMS control.
                <h3>Short description:</h3>
                <ul>
                    <li>5 controlled electrical sockets</li>
                    <li>Incoming call control</li>
                    <li>SMS message control</li>
                    <li>Programming with a mobile phone</li>
                </ul>
                <h3>Advantages:</h3>
                <p/>The system provides simple and inexpensive access to power management of various devices such as routers and other network equipment or other low-power loads. The device does not require special installation and is ready for use immediately after installation of the SIM card.
            </section>
            <section>
                <h2>Description</h2>
                <p>
                    GSM Rebuter is made to control the power of various devices (power on, off or reset the power) via a GSM network call or SMS control. With both control methods, it is possible to turn each channel on, turn it off, and sort-time remove power from the controlled device (reset the power supply). When it is controlled by a call, the operation modes are confirmed by sound signals, and when it is operated via SMS control, SMS confirmation can be requested.
                </p>
            </section>
            <section>
                <h2>Specifications</h2>
                <ul>
                    <li>5 remote control electrical sockets;</li>
                    <li>the maximum current load per 1 socket is not more than 3A;</li>
                    <li>total current of all loads is not more than 15А;</li>
                    <li>SMS commands control with confirmation and without confirmation;</li>
                    <li>incoming calls control and DTMF signals;</li>
                    <li>operation modes indicator by LEDs ;</li>
                    <li>Programming with SMS;</li>
                </ul>
            </section>
