---
permalink: en/products/usb_prog.html
layout: product
lang: en
title: USB programmer
menu_item: none
---

<div class="name">
    <h1>USB programmer</h1>
<p> DMA Devices Programmer for Windows applications.</p>
</div>
<img class="banner" src="../assets/img/banner_USB_prog.jpg" alt="USB prog" />
<div class="shadow"></div>
<br/>
             <section>
                <h3>Purpose:</h3>
		It is designed to connect DMA devices family to a computer with USB channel.<br/>
	    The adjustment is configured by the DMAFlasher program (this the previous version works with all devices
but not recommended to use with new devices) <br/>
		Or the program DmaCustomizer (this program is recommended to use with all new versions of devices)  <br/>
		Both programs and the instruction you can find in section. <a href="support.html">Support.</a>	 <br/>
		Or download this link. <a href="../assets/download/DMA_USB_DC.zip">DmaCustomizer</a>
		
            </section>