---
permalink: ru/products/birdscarer.html
layout: product
title: Birdscarer
menu_item: none
---
            <div class="name">
                <h1>Отпугиватель птиц.</h1>
              
            </div>
            <img class="banner" src="../assets/img/banner_scarer.jpg" alt="Birdscarer photo" />
			<div class="shadow"></div>
            <br/>
            <section>
                <h3>Назначение:</h3>
                Предназначен для отпугивания любых видов птиц, за исключением врановых (ворон, галка, грач).
                <h3>Преимущества:</h3>
					Наличие 2 динамиков позволяет охватить большую площадь. Датчик освещенности позволяет работать прибору только днем(или только ночью).
            </section>
            <section>
                <h2>Описание</h2>
                <p>
                 Отпугиватель птиц является современной совместной разработкой ученых орнитологов и специалистов по электронике. Принцип работы прибора основан на качественном цифровом воспроизведении криков тревоги и бедствия отпугиваемых птиц, а также их естественных врагов — хищников.
                </p>
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>Количество, видов отпугивающих сигналов за одну трансляцию (от 1 до 16);</li>
                    <li>Регулировка громкости – есть;</li>
                    <li>Программирование паузы между трансляциями – 5 режимов;</li>
                    <li>Режим день/ночь – есть;</li>
                    <li>Режим случайной смены мелодий – есть;</li>
					<li>Индикация режимов работы светодиодным индикатором;</li>
                </ul>
				<h2>Технические характеристики</h2>
                <ul>
                    <li>Размер прибора в упаковке — 48,3 x 33 x 17,8 см);</li>
                    <li>Вес прибора в упаковке — 5,3 кг;</li>
                    <li>Защищаемая зона — 2,4 га;</li>
                    <li>Диапазон частот — 2000 - 10000Гц;</li>
                    <li>Питание — 12 вольт постоянного тока от аккумулятора;</li>
					<li>или от сети 220 вольт через адаптер 12 вольт 2 ампера;</li>
                </ul>
            </section>
