---
permalink: /ru/products/blth_prog.html
layout: product
title: Bluetooth programmer
menu_item: none
---

<div class="name">
    <h1>Bluetooth programmer</h1>
<p> Программатор приборов DMA для Android смартфонов.</p>
</div>
<img class="banner" src="../assets/img/banner_blth_prog.jpg" alt="Blth prog" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Назначение:</h3>
		Предназначен для подключения к системному разъему приборов семейства DMA и Android смартфонам по каналу Bluetooth.
	    Настройка приборов осуществляется программой DMA-System. <br/>
		Программу и инструкцию по работе вы можете найти в разделе <a href="support.html">Поддержка.</a>	 <br/>
		Или скачать по <a href="../assets/download/DMA_BL_System.zip">ссылке.</a>
		
            </section>
