---
permalink: ru/products/decoy.html
layout: product
title: Decoy
menu_item: none
---
            <div class="name">
                <h1>Электроманок</h1>
             
            </div>
            <img class="banner" src="../assets/img/banner_decoy.jpg" alt="Decoy photo" />
			<div class="shadow"></div>
            <br/>
            <section>
                <h3>Назначение:</h3>
                Электронный манок предназначен для имитации голосов птиц и зверей.
            </section>
            <section>
                <h2>Описание</h2>
                <p>
                    Электроманок является устройством, синтезирующим звуки из наборов данных записанных в электронную память
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>До 15 звуковых голосов для приманивания;</li>
                    <li>Регулировка громкости;</li>
                    <li>Выбор мелодии кнопками управления;</li>
                    <li>Возможность установки паузы между мелодиями ;</li>
                    <li>программирование системы с помощью компьютера;</li>
                </ul>
            </section>
