---
permalink: ru/products/dma72.html
layout: product
title: DMA 72
menu_item: none
---
            <div class="name">
                <h1>DМА 72</h1>
                Модуль управления автоматическими воротами
            </div>
            <img class="banner" src="../assets/img/banner_DMA72.jpg" alt="DMA 72 photo" />
			<div class="shadow"></div>
            <br/>
            <section>
                <h3>Назначение:</h3>
                Модуль предназначен для управления автоматическими воротами или шлагбаумом через звонок по GSM сети или управляющей SMS
                <h3>Краткие характеристики:</h3>
                <ul>
                    <li>2 управляемых выхода</li>
                    <li>Управление входящим звонком</li>
                    <li>Голосовые и SMS сообщения</li>
                    <li>Программирования с мобильного телефона и компьютера</li>
                </ul>
                <h3>Преимущества:</h3>
                Система позволяет обеспечить простой и недорогой дистанционный доступ для многопользовательских систем с большим количеством абонентов, таких как автоматические ворота или шлагбаум. При открывании звонком деньги с мобильного телефона не снимаются т.к. не происходит снятие трубки.
            </section>
            <section>
                <h2>Описание</h2>
                <p>
                    Модуль  DМА72.01  предназначен для управления автоматическими воротами или другими исполнительными устройствами с помощью телефонного звонка или управляющих SMS. Получив звонок с мобильного телефона, модуль  сравнивает его номер с номерами в своей памяти (память на 512 номеров) и при совпадении  выдает управляющий сигнал на Выход управления 1. При этом  трубка  на мобильном телефоне не снимается, что позволяет не платить за  голосовые звонки. При помощи управляющих SMS можно включить и Выход управления 2 и  Выход управления 1,  запросить баланс, и произвести все настройки прибора. При необходимости модуль пришлет SMS подтверждающее выполнение команды.
                </p>
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>2 управляемых выхода;</li>
                    <li>колличество абонентов до 512;</li>
                    <li>управление SMS командами с подтверждением и без подтвеждения;</li>
                    <li>индикация режимов работы светодиодами;</li>
                    <li>программирование системы с помощью компьютера или SMS;</li>
                </ul>
            </section>
