---
permalink: ru/products/dma41-2s.html
layout: product
title: DMA 41-2s
menu_item: none
---

<div class="name">
    <h1>DМА 41-2s</h1>
<p>Contact ID оповещатель.</p>
<p>Охранная GSM сигнализация.</p>
</div>
<img class="banner" src="../assets/img/banner_dma41-2s.jpg" alt="DMA 41-2s photo" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Назначение:</h3>
				Подключение к стационарным объектовым сигнализациям для оповещения о событиях, с использованием 
				протокола Contact ID или охраных зон.
                Охрана стационарных объектов из 2-х зон с дистанционным контролем через GSM сеть.
                <h3>Краткие характеристики:</h3>
                <ul>
				    <li>Выход "Телефонная линия" для подключения к коммуникаторам Contact ID.</li>
					<li>До 128 зон оповещения по протоколу Contact ID </li>
					<li>Полный набор стандартных голосовых и SMS сообщений для оповещения</li>	
					<li>16 индивудуально записываемых голосовых и SMS сообщений.</li>
					<li>2 языка (Русский/Украинский) интерактивного меню и стандартных голосовых сообщений. </li>
                    <li>2 входных зоны для подключения к сигнализациям или для полностью самостоятельной работы.</li>
                    <li>Вход постановки -снятия для работы в режиме "Oхранная централь".</li>
                    <li>2 управляемых дистанционно или автоматически выхода.</li>
                    <li>2 подключаемых температурных датчика для оповещения о критических температурах. </li>
					<li>Встроенный Bluetooth модуль.</li>
                    <li>Программирования с Android смартфона или компьютера через USB или Bluetooth подключение.</li>
					<li>Удаленное программирования с мобильного телефона через SMS и DTMF комманды. </li>
                </ul>
                <h3>Преимущества:</h3>
				   <ul>
                     <li>Гибкая конфигурация с большим количеством дополнительных функций.</li>
				     <li>Возможность использования как самостоятельная охранная централь.</li>
				   </ul>
                <br /><br/>

            </section>
            <section>
                <h2>Описание</h2>
                <p>
                    Охранный Contact ID оповещатель "DМА41-2s" со встроенным GSM модулем. Две основные независимые функции : Оповещение владельца о тревожных событиях для установленных ранее охранных систем. Возможно подключение как дублирующей или расширяющей функции системы. 
					Вторая функция: охранная централь на 2 охранные зоны. Обе функции могут работать одновременно, не мешая друг другу.  
					Эта система отлично подойдет как для охраны небольших объектов, работая охранной централью, так и для очень больших объектов, по протоколу Contact ID
					Модуль может принимать Contact ID сообщения от нескольких охранных централей одновременно, а также работать параллельно с другими, например пультовыми, оповещателями, сообщая информацию о событиях непосредственно владельцу.
					Широта применения данной системы ограничена лишь размерами сети оператора мобильной связи.
                </p>
                <p>
                    Основное отличие наших сигнализаций от всех конкурентов это возможность управления и контроль состояния всей системы в режиме прямого звонка посредством голосового меню, т.е. абсолютно полная интерактивность. В подавляющем большинстве GSM сигнализаций управление и отчёт производится через SMS, что крайне не удобно и не приемлемо для охранных систем.
                </p>
                <p>
                    Подключение 2-х датчиков  температуры с заданием 2-х температурных точек оповещения позволяет контролировать температурный режим охраняемых помещений и наружную температуру.
                </p>
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
				    <li>выход "телефонная линия" для подключения стационарных объектовых сигнализаций;</li>
					<li>работа с любыми охранными централями по протоколу Contact ID;</li>
					<li>до 128 обслуживаемых зон и до 5 обслуживаемых объектовых сигнализаций по протоколу Contact ID;</li>
                    <li>2 охранные зоны;</li>
                    <li>2 управляемых выхода;</li>
                    <li>1 линейный аудио вход ;</li>
                    <li>вход "постановки-снятия" с охраны (возможность подключить клавиатуру);</li>
                    <li>15 номеров абонентов для дозвона с возможностью выбора категории доступа к прибору;</li>
                    <li>голосовое интерактивное меню;</li>
					<li>большой выбор подготовленных стандартных голосовых и SMS сообщений;</li>	
                    <li>возможность записи собственных голосовых сообщений (16 сообщений по 5 сек);</li>
					<li>возможность записи собственных SMS сообщений (16 сообщений);</li>				
                    <li>программирование с компьютера через USB порт,  или с Android телефона через Bluetooth соединение;</li>
                    <li>системное время;</li>
                    <li>SMS отчёт, по запросу, о настройках системы и состоянии счёта;</li>
                    <li>тестовые сообщения - в часах (интервал 1 час);</li>
                    <li>типы зон - каждая зона может быть:<ul>
                            <li>входная;</li>
                            <li>проходная;</li>
                            <li>24-х часовая;</li>
                            <li>зона бездействия (тревога в случае бездействия).</li>
                        </ul></li>
                    <li>каждая охранная зона может использоваться с функцией тревоги на разрыв, замыкание или зона с резистором в конце шлейфа.</li>
                    <li>несколько видов задержек для постановки, снятия и автоматическая постановка на охрану<ul>
               </ul>
            </section>