---
permalink: ru/products/dma39-2s.html
layout: product
title: DMA 39-2s
menu_item: none
---

<div class="name">
    <h1>DМА 39-2s</h1>
    Охранная GSM сигнализация
</div>
<img class="banner" src="../assets/img/banner_dma39-2s.jpg" alt="DMA 39-2s photo" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Назначение:</h3>
                Охрана небольших стационарных объектов из 2 зон с дистанционным контролем через GSM сеть.
                <h3>Краткие характеристики:</h3>
                <ul>
                    <li>2 входных зоны</li>
                    <li>вход постановки-снятия</li>
                    <li>2 управляемых выхода</li>
                    <li>Голосовые и SMS сообщения</li>
					<li>Встроенный Bluetooth модуль.</li>
                    <li>Программирования с Android смартфона или компьютера через USB или Bluetooth подключение.</li>
                </ul>
                <h3>Преимущества:</h3>
                Данная модель является упрощенной версией DМА 39-4s

            </section>
            <section>
                <h2>Описание</h2>
                <p>
                    Охранная сигнализация "DМА39-2s" со встроенным GSM и Bluetooth модулем. Эта система позволяет охранять удаленные объекты не оснащенные стационарной телефонной линией, может применяться в качестве дублирующей системы с установленными ранее  охранными системами. Широта применения данной системы ограничена лишь размерами сети оператора мобильной связи.                 </p>
                <p>
                    Данная модель является упрощенной версией DМА39-4s                 </p>
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>2 охранные зоны;</li>
                    <li>2 управляемых выхода;</li>
                    <li>1 линейный аудио вход;</li>
                    <li>вход "постановки-снятия" с охраны (возможность подключить клавиатуру);</li>
                    <li>десять номеров дозвона;</li>
                    <li>голосовое интерактивное меню;</li>
                    <li>возможность записи собственных сообщений (2 сообщений по 6 сек);</li>
                    <li>программирование с компьютера через COM и USB порт (программа в комплекте), с настольного телефона или с удалённого компьютера через Интернет используя HyperTerminal вашего компьютера;</li>
                    <li>системное время;</li>
                    <li>SMS отчёт, по запросу, о настройках системы и состоянии счёта;</li>
                    <li>тестовые сообщения - в часах (интервал 1 час);</li>
                </ul>

            </section>