---
permalink: ru/products/dma39-4s.html
layout: product
title: DMA 39-4s
menu_item: none
---

<div class="name">
    <h1>DМА 39-4s</h1>
    Охранная GSM сигнализация
</div>
<img class="banner" src="../assets/img/banner_dma39-4s.jpg" alt="DMA 39-4s photo" />
<div class="shadow"></div>
<br/>
<section>
    <h3>Назначение:</h3>
    Охрана стационарных объектов от 4-х до 12-ти зон с дистанционным контролем через GSM сеть.
    <h3>Краткие характеристики:</h3>
    <ul>
        <li>4 входных зоны (расширяется до 12-ти)</li>
        <li>вход постановки -снятия</li>
        <li>4 управляемых выхода (расширяется до 11)</li>
        <li>Голосовые и SMS сообщения</li>
        <li>Программирования с мобильного телефона и компьютера</li>
    </ul>
    <h3>Преимущества:</h3>
    Contact ID ретранслятор
    <br /><br/>
        возможность подключения:
    <ul>
        <li>Платы расширения</li>
        <li>Платы громкой связи</li>
        <li>Домофонного адаптера</li>
        <li>Датчика температуры</li>
    </ul>
</section>
<section>
    <h2>Описание</h2>
    <p>
        Охранная сигнализация "DМА39-4s" со встроенным GSM модулем. Эта система позволяет охранять удаленные объекты не оснащенные стационарной телефонной линией, может применяться в качестве дублирующей системы с установленными ранее  охранными системами. Широта применения данной системы ограничена лишь размерами сети оператора мобильной связи.
    </p>
    <p>
        Основное отличие наших сигнализаций от всех конкурентов это возможность управления и контроль состояния всей системы в режиме прямого звонка посредством голосового меню, т.е. абсолютно полная интерактивность. В подавляющем большинстве GSM сигнализаций управление и отчёт производится через SMS, что крайне не удобно и не приемлемо для охранных систем.
    </p>
    <p>
        Наличие телефонного коммуникатора позволяет работать совместно с охранными централями как GSM дозвонщик через подключение по Contact ID
    </p>
    <p>
        При подключения модуля громкой связи появляется возможность осуществлять полную голосовую связь с объектом, что при наличие на объекте тяжело больных, престарелых или детей крайне важно.
    </p>
    <p>
        Подключение датчика температуры с заданием 2-х температурных точек оповещения позволяет контролировать температурный режим охраняемых помещений
    </p>
</section>
<section>
    <h2>Характеристики</h2>
    <ul>
        <li>4 охранные зоны (расширение до 12 зон);</li>
        <li>4 управляемых выхода (расширение до 12 выходов);</li>
        <li>1 линейный аудио вход (расширение до 8 входов);</li>
        <li>вход "постановки-снятия" с охраны (возможность подключить клавиатуру);</li>
        <li>разъём для подключения платы "громкая связь";</li>
        <li>десять номеров дозвона;</li>
        <li>голосовое интерактивное меню;</li>
        <li>возможность записи собственных сообщений (5 сообщений по 6 сек);</li>
        <li>работа с любыми охранными централями по протоколу Contact ID;</li>
        <li>программирование с компьютера через COM порт (программа в комплекте) или с удалённого компьютера через Интернет используя HyperTerminal вашего компьютера;</li>
        <li>системное время;</li>
        <li>SMS отчёт, по запросу, о настройках системы и состоянии счёта;</li>
        <li>тестовые сообщения - в часах (интервал 1 час);</li>
        <li>типы зон - каждая зона может быть:<ul>
                <li>входная;</li>
                <li>проходная;</li>
                <li>24-х часовая;</li>
                <li>зона бездействия.</li>
            </ul></li>
        <li>Каждая охранная зона может использоваться с функцией тревоги на разрыв, замыкание или зона с резистором в конце шлейфа.</li>
    </ul>

</section>