---
permalink: ru/products/dtk53.html
layout: product
title: DTK-53
menu_item: none
---

<div class="name">
    <h1>DTK 53</h1>
<p> Автомобильная сигнализация с GPS-трекером.</p>
</div>
<img class="banner" src="../assets/img/banner_DTK53_k.jpg" alt="DTK 53 photo" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Назначение:</h3>
                Установка на автомобиль как дополнительное устройство оповещения  и контроля контролем через GSM сеть или как самостоятельный охранный прибор с возможностью контроля местонахождения автомобиля его маршрута перемещения, остановки и т.д. 
                <h3>Краткие характеристики:</h3>
                <ul>
                    <li>2 входных зоны</li>
                    <li>вход постановки-снятия</li>
                    <li>2 управляемых выхода</li>
                    <li>Голосовые и SMS сообщения</li>
                    <li>Программирования с мобильного телефона и компьютера</li>
                    <li>GPS трекинг</li>
                    <li>Встроенный аккумулятор  до 8 часов работы без внешнего питания</li>
                </ul>
                <h3>Преимущества:</h3>
                <p/>GPS трекинг осуществляется через сеть интернет с помощью различных картографических найтов. Поддерживает несколько типов протокола соединения с GPS трекинговыми сайтами.
                <p/>Совмещает в себе функции голосового и SMS оповещателя и функции GPS трекера.

            </section>
            <section>
                <h2>Характеристики</h2>
                <p/>GPS трекинг осуществляется через сеть интернет с помощью различных картографических найтов. Поддерживает несколько типов протокола соединения с GPS трекинговыми сайтами.
                Совмещает в себе функции голосового и SMS оповещателя и функции GPS трекера.
                <ul class="long_list">
                    <li>Количество охранных зон 2</li>
                    <li>Количество дистанционно управляемых выходов -2</li>
                    <li>Простота установки, система поставляется с настройками максимально приближенных к большинству автомобилей. Возможность использования совместно со штатными брелоками управления центральным замком.</li>
                    <li>Гибкая настройка ограничения доступа до 10 телефонных номеров позволяет разрешить доступ в систему только зарегистрированным пользователям, номера которых есть в списке. Для каждого номера можно определить только те события, информацию о которых желает получать пользователь в виде голосовых сообщений и/или SMS сообщений.</li>
                    <li>Управление посредством DTMF сигналов с голосовыми подсказками, позволяет пользователям управлять системой во время голосового соединения, тональными сигналами (DTMF) и получать голосовые подтверждения, подобно службе сервиса абонента сотового оператора. Каждый сеанс соединения начинается с ввода пароля, что дополнительно защищает систему помимо идентификации пользователя по номеру телефона.</li>
                    <li>Отчет о тревогах голосовыми  и SMS сообщениями на 10 номеров дозвона. При обнаружении активного уровня на входах или, если происходит аварийное системное событие (падение внешнего питания и д.р.), DTK53 формирует сигнальное текстовое сообщение и/или звонит по указанным номерам.</li>
                    <li>Гибкая конфигурация встроенных тревожных сообщений и возможность записи своих сообщений.</li>
                    <li>Возможность дистанционной постановки и снятия с охраны.</li>
                    <li>Дистанционный аудио контроль через микрофон. Прослушивание охраняемого автомобиля можно инициировать через голосовое административное меню. DTK53 включит внешний микрофон непосредственно, после получения DTMF-команды. По окончании прослушивания пользователь может вернуться в голосовое меню управления.</li>
                    <li>Возможность дистанционной блокировки неисправных датчиков тревоги, и контроля большинства функций прибора.</li>
                    <li>Широкие возможности маршрутизации событий. Переход входа в активное и/или пассивное состояние может влиять на состояние любого выхода/выходов. Постановка на охрану и снятие с охраны также может влиять на состояние выходов.</li>
                    <li>Возможность назначения имен – псевдонимов для входов и выходов. Каждый вход и выход имеет имя, которое используется при запросах состояния и управлении. Каждый вход имеет название активного и пассивного состояния. Имена – псевдонимы программируются пользователем.</li>
                    <li>Независимая конфигурация каждого из 2 входов. Для каждого можно запрограммировать:
                        <ul>
                            <li>название датчика, название активного и пассивного состояния датчика;</li>
                            <li>границы тревожной зоны - верхняя и нижняя границы зоны определяют интервал напряжений, в котором вход считается активным;</li>
                            <li>тип входа: аналоговый/дискретный;</li>
                            <li>активный уровень имеет 3 режимов: низкий, свободный, высокий и др.;</li>
                            <li>круглосуточный контроль, независимо от режима охраны, для  тревожной кнопки и т.д.;</li>
                            <li>действие при активном уровне на входе: голосовой дозвон, SMS, дозвон и SMS, никаких действий;</li>
                            <li>влияние на выходы.</li>
                        </ul>
                    </li>
                    <li>
                        Независимая конфигурация каждого из 2 выходов. Для каждого можно запрограммировать:
                        <ul>
                            <li>название;</li>
                            <li>тип коммутации: уровень или импульс, длительность импульса;</li>
                            <li>разрешить/запретить управление через голосовое меню</li>
                        </ul>
                    </li>
                    <li>Программируемые тестовые сообщения и сообщения о постановке-снятии с охраны.</li>
                    <li>Отчеты в виде SMS о всех настройках и состоянии системы</li>
                    <li>Дистанционный опрос баланса на SIM карте (может включатся в тестовое сообщение).</li>
                    <li>
                        Получение  координат GPS  четырьмя способами на выбор, или все вместе:
                        <ul>
                            <li>Через GPRS на HTTP сервер с базой данных. Картографическое программное обеспечение для в комплект поставки не входит.</li>
                            <li>Через SMS cообщения с координатами объекта.</li>
                            <li>Через прямой дозвон GSM-data с получением координат на мобильное устройство пользователя.</li>
                            <li>
                                Через картографические сервисы например:
                                http://gps-tracker.com.ua/
                                http://gps-trace.com/ ,
                                сигнализация совместима и с  другими сервисами.
                            </li>
                        </ul>
                    </li>
                    <li>Оповещение при снижении внешнего питания и/или разряде аккумулятора. DTK53 формирует SMS и/или дозванивается до указанных абонентов в случае снижения и восстановления внешнего питания, а также при разряде аккумулятора до указанного критического уровня.</li>
                    <li>Бортовой журнал координат объекта во внутренней памяти DTK-53 обеспечивает защиту от потери данных трекинга при отсутствии GPRS/GSM сети.. Объем памяти достаточен на несколько месяцев работы.</li>
                </ul>

            </section>