---
permalink: ru/products/exten.html
layout: product
title: Exten 8x7x8
menu_item: none
---

            <div class="name">
                <h1>Exten 8x7x8</h1>
                Модуль расширения охранных зон и управляемых выходов Exten 8x7x8
            </div>
			<img class="banner" src="../assets/img/banner_exten.jpg" alt="exten photo" />
			<div class="shadow"></div>
            <br/>
            <section>
                <h3>Назначение:</h3>
                Модуль используется для увеличения колличества охраняемых зон, управляемых выходов и линейных аудио входов.
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>8 охранных зон;</li>
                    <li>7 управляемых выхода;</li>
                    <li>8 линейных аудио входов;</li>
                    <li>Каждая охранная зона может использоваться с функцией тревоги на разрыв, замыкание или зона с резистором в конце шлейфа.</li>
                    <li>Выходы представляют собой открытые коллекторы транзисторов с максимальным током до 250ма.</li>
                    <li>При потере связи с модулем расширения формируется тревога.</li>
                </ul>
            </section>
 