---
permalink: ru/products/reboot.html
layout: product
title: Rebuter
menu_item: none
---

            <div class="name">
                <h1>GSM ребутер</h1>
                GSM Ребутер на 5 управляемых розеток
            </div>
		<img class="banner" src="../assets/img/banner_reboot.jpg" alt="Rebooter photo" />
        <div class="shadow"></div>
            <br/>
            <section>
                <h3>Назначение:</h3>
                GSM ребутер предназначен для управления питанием различных устройств (включения, выключения или перезагрузка питания) через звонок по GSM сети или управляющей SMS.
                <h3>Краткие характеристики:</h3>
                <ul>
                    <li>5 управляемых розеток</li>
                    <li>Управление взодящим звонком</li>
                    <li>управление SMS сообщениями</li>
                    <li>Программирования с мобильного телефона</li>
                </ul>
                <h3>Преимущества:</h3>
                <p/>Система обеспечивает простой и недорогой доступ к управлению питанием различных устройств таких как маршрутизаторы и другое сетевое оборудование или другие немощные нагрузки. Устройство не требует специального монтажа и готово к использованию сразу после установки SIM карты.
            </section>
            <section>
                <h2>Описание</h2>
                <p>
                    GSM ребутер предназначен для управления питанием различных устройств (включения, выключения или перезагрузка питания) через звонок по GSM сети или управляющей SMS. При обеих способах управления есть возможность включить каждый канал, выключить его, а также кратковременно снять питание с управляемого прибора( провести перезагрузку питания). При управлении звонком режимы работы подтверждаются звуковыми сигналами, а при работе через управляющие SMS может быть запрошенна подтверждающая SMS.
                </p>
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>5 управляемых розеток;</li>
                    <li>максимальный ток на 1 розетку не более 3А;</li>
                    <li>суммарный ток всех розеток не более 15А;</li>
                    <li>управление SMS командами с подтверждением и без подтвеждения;</li>
                    <li>управление входящим звонком и сигналами DTMF;</li>
                    <li>индикация режимов рабоы светодиодами;</li>
                    <li>Программирование системы с помощью SMS;</li>
                </ul>
            </section>
