---
permalink: ru/products/usb_prog.html
layout: product
title: USB programmer
menu_item: none
---

<div class="name">
    <h1>USB programmer</h1>
<p> Программатор приборов DMA для Windows приложения.</p>
</div>
<img class="banner" src="../assets/img/banner_USB_prog.jpg" alt="USB prog" />
<div class="shadow"></div>
<br/>
             <section>
                <h3>Назначение:</h3>
		Предназначен для подключения приборов семейства DMA к компьютеру по каналу USB.<br/>
	    Настройка приборов осуществляется программой DMAFlasher (это предыдущая версия работает со всеми приборами 
		но не рекомендуется для использования в новых приборах) <br/>
		Или программой DmaCustomizer (эта программа рекомендована к использованию во всех новых версиях приборов)  <br/>
		Обе программы и инструкцию по работе вы можете найти в разделе <a href="support.html">Поддержка.</a>	 <br/>
		Или скачать по ссылке. <a href="../assets/download/DMA_USB_DC.zip">DmaCustomizer</a>
		
            </section>