---
permalink: uk/products/birdscarer.html
layout: product
title: Birdscarer
menu_item: none
---
            <div class="name">
                <h1>Відлякувач птахів.</h1>
              
            </div>
            <img class="banner" src="../assets/img/banner_scarer.jpg" alt="Birdscarer photo" />
			<div class="shadow"></div>
            <br/>
            <section>
                <h3>Призначення:</h3>
                Призначений для відлякування любих видів птахів, за виключенням врановых (ворон, галка, грак).
                <h3>Переваги:</h3>
					Наявність 2 динамиків дозволяє охопити велику площу. Датчик освітленості дозволяє працювати приладу тільки вдень (або тільки вночі).
            </section>
            <section>
                <h2>Опис</h2>
                <p>
                 Відлякувач птахів є сучасною спільною розробкою вчених орнітологів та фахівців з електроніки. Принцип роботи приладу заснований на якісному цифровому відтворенні криків тривоги і лиха птахів, що відлякуються, а також їх природних ворогів — хижаків.
                </p>
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>Кількість видів відлякуючих сигналів за одну трансляцію (від 1 до 16);</li>
                    <li>Регулювання гучності - є;</li>
                    <li>Програмування паузи між трансляціями – 5 режимів;</li>
                    <li>Режим день/ніч – є;</li>
                    <li>Режим випадкової зміни мелодій - є;</li>
					<li>Індикація режимів роботи світлодіодним індикатором;</li>
                </ul>
				<h2>Технічні характеристики</h2>
                <ul>
                    <li>Розмір приладу в упаковці — 48,3 x 33 x 17,8 см);</li>
                    <li>Вага приладу в упаковці — 5,3 кг;</li>
                    <li>Зона захисту — 2,4 га;</li>
                    <li>Діапазон частот — 2000 - 10000Гц;</li>
                    <li>Живлення - 12 вольт постійного струму від акумулятора;</li>
					<li>або від мережі 220 вольт через адаптер 12 вольт 2 ампера;</li>
                </ul>
            </section>
