---
permalink: /uk/products/blth_prog.html
layout: product
title: Bluetooth programmer
menu_item: none
---

<div class="name">
    <h1>Bluetooth programmer</h1>
<p> Програматор DMA для Android смартфонів.</p>
</div>
<img class="banner" src="../assets/img/banner_blth_prog.jpg" alt="Blth prog" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Призначення:</h3>
		Призначений для підключення до системного роз'єму приладів сімейства DMA та Android смартфонів через Bluetooth.
	    Налаштування приладів здійснюється програмою DMA-System. <br/>
		Програму та інструкцію з роботи ви можете знайти у розділі <a href="support.html">Підтримка.</a>	 <br/>
		Або завантажити за<a href="../assets/download/DMA_BL_System.zip">посиланням.</a>
		
            </section>
