---
permalink: uk/products/decoy.html
layout: product
title: Decoy
menu_item: none
---
            <div class="name">
                <h1>Електроманок</h1>
             
            </div>
            <img class="banner" src="../assets/img/banner_decoy.jpg" alt="Decoy photo" />
			<div class="shadow"></div>
            <br/>
            <section>
                <h3>Призначення:</h3>
                Електронний манок призначений для імітації голосів птахів та звірів.
            </section>
            <section>
                <h2>Опис</h2>
                <p>
                    Електроманок є пристроєм, що синтезує звуки з наборів даних, записаних в електронну пам'ять
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>До 15 звукових голосів для приманювання;</li>
                    <li>Регуліровка гучності;</li>
                    <li>Вибір мелодії кнопками керування;</li>
                    <li>Можливість встановлення паузи між мелодіями;</li>
                    <li>Програмування системи за допомогою комп'ютера;</li>
                </ul>
            </section>
