---
permalink: uk/products/dma72.html
layout: product
title: DMA 72
menu_item: none
---
            <div class="name">
                <h1>DМА 72</h1>
                Модуль керування автоматичними воротами
            </div>
            <img class="banner" src="../assets/img/banner_DMA72.jpg" alt="DMA 72 photo" />
			<div class="shadow"></div>
            <br/>
            <section>
                <h3>Призначення:</h3>
                Модуль призначений для керування автоматичними воротами або шлагбаумом через дзвінок через мережу GSM або керуючу SMS
                <h3>Основні характеристики:</h3>
                <ul>
                    <li>2 керованих виходи</li>
                    <li>Керування вхідним дзвінком</li>
                    <li>Голосові та SMS повідомлення</li>
                    <li>Програмування з мобільного телефону та комп'ютера</li>
                </ul>
                <h3>Переваги:</h3>
                Система дозволяє забезпечити простий і недорогий дистанційний доступ для розрахованих на багато користувачів систем з великою кількістю абонентів, таких як автоматичні ворота або шлагбаум. При відкритті дзвінком гроші з мобільного телефону не знімаються. не відбувається зняття трубки.
            </section>
            <section>
                <h2>Опис</h2>
                <p>
                    Модуль DМА72.01 призначений для керування автоматичними воротами або іншими виконавчими пристроями за допомогою дзвінка або керуючих SMS. Отримавши дзвінок з мобільного телефону, модуль порівнює його номер з номерами у своїй пам'яті (пам'ять на 512 номерів) і при збігу видає сигнал керування на Вихід управління 1. При цьому трубка на мобільному телефоні не знімається, що дозволяє не платити за голосові дзвінки. За допомогою керуючих SMS можна увімкнути і Вихід керування 2 і Вихід керування 1, запитати баланс і зробити всі налаштування приладу. При необхідності модуль надішле SMS, що підтверджує виконання команди.
                </p>
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>2 керованих виходи;</li>
                    <li>кількість абонентів до 512;</li>
                    <li>керування SMS командами з підтвердженням та без підтвердження;</li>
                    <li>індикація режимів роботи світлодіодами;</li>
                    <li>програмування системи за допомогою комп'ютера або SMS;</li>
                </ul>
            </section>
