---
permalink: uk/products/dma39-2s.html
layout: product
title: DMA 39-2s
menu_item: none
---

<div class="name">
    <h1>DМА 39-2s</h1>
    Охоронна GSM сигналізация
</div>
<img class="banner" src="../assets/img/banner_dma39-2s.jpg" alt="DMA 39-2s photo" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Призначення:</h3>
                Охорона невеликих стаціонарних об'єктів з 2 зон з дистанційним контролем через мережу GSM.
                <h3>Основні характеристики:</h3>
                <ul>
                    <li>2 входні зони</li>
                    <li>вхід постановки-зняття</li>
                    <li>2 керованих вихода</li>
                    <li>Голосові та SMS повідомлення</li>
					<li>Вбудований модуль Bluetooth.</li>
                    <li>Програмування з Android смартфона чи комп'ютера через USB чи Bluetooth підключення.</li>
                </ul>
                <h3>Переваги:</h3>
                Сигналізация є спрощеною версією DМА 39-4s.

            </section>
            <section>
                <h2>Опис</h2>
                <p>
                    Охоронна сигналізація "DМА39-2s" із вбудованим GSM та Bluetooth модулем. Ця система дозволяє охороняти віддалені об'єкти не оснащені стаціонарною телефонною лінією, може застосовуватися як дублююча система з встановленими раніше охоронними системами. Широта застосування цієї системи обмежена лише розмірами мережі оператора мобільного зв'язку.                 </p>
                <p>
                    Сигналізация є спрощеною версією DМА 39-4s.                 </p>
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>2 охоронні зони;</li>
                    <li>2 керовані виходи;</li>
                    <li>1 лінійний аудіо вхід;</li>
                    <li>вхід "постановки-зняття" з охорони (можливість підключити клавіатуру);</li>
                    <li>десять номерів додзвону;</li>
                    <li>голосове інтерактивне меню;</li>
                    <li>можливість запису своїх повідомлень (2 повідомлень по 6 сек);</li>
                    <li>програмування з комп'ютера через COM та USB порт (програма в комплекті), з настільного телефону або віддаленого комп'ютера через Інтернет використовуючи HyperTerminal вашого комп'ютера;</li>
                    <li>системний час;</li>
                    <li>SMS звіт, за запитом, про налаштування системи та стан рахунку;</li>
                    <li>тестові повідомлення – у годинах (інтервал 1 год);</li>
                </ul>

            </section>