---
permalink: uk/products/dma39-4s.html
layout: product
title: DMA 39-4s
menu_item: none
---

<div class="name">
    <h1>DМА 39-4s</h1>
    Охоронна GSM сигналізація
</div>
<img class="banner" src="../assets/img/banner_dma39-4s.jpg" alt="DMA 39-4s photo" />
<div class="shadow"></div>
<br/>
<section>
    <h3>Призначення:</h3>
    Охорона стаціонарних об'єктів від 4-х до 12-ти зон з дистанційним контролем через мережу GSM.
    <h3>Основні характеристики:</h3>
    <ul>
        <li>4 вхідні зони (розширюється до 12-ти)</li>
        <li>вхід постановки-зняття</li>
        <li>4 керовані виходи (розширюється до 11)</li>
        <li>Голосові та SMS повідомлення</li>
        <li>Програмування з мобільного телефону та комп'ютера</li>
    </ul>
    <h3>Переваги:</h3>
    Contact ID ретранслятор
    <br /><br/>
        можливість підключення:
    <ul>
        <li>Плати розширення</li>
        <li>Плати гучного зв'язку</li>
        <li>Домофонного адаптера</li>
        <li>Датчик температури</li>
    </ul>
</section>
<section>
    <h2>Опис</h2>
    <p>
        Охоронна сигналізація "DМА39-4s" із вбудованим GSM модулем. Ця система дозволяє охороняти віддалені об'єкти не оснащені стаціонарною телефонною лінією, може застосовуватися як дублююча система з встановленими раніше охоронними системами. Широта застосування цієї системи обмежена лише розмірами мережі оператора мобільного зв'язку.
    </p>
    <p>
        Основна відмінність наших сигналізацій від усіх конкурентів це можливість управління та контроль стану всієї системи як прямого дзвінка у вигляді голосового меню, тобто. абсолютно повна інтерактивність. У переважній більшості GSM сигналізацій управління та звіт проводиться через SMS, що вкрай не зручно та не прийнятно для охоронних систем.
    </p>
    <p>
        Наявність телефонного комунікатора дозволяє працювати спільно з охоронними централями як GSM дозвонщик через підключення за Contact ID
    </p>
    <p>
        При підключенні модуля гучного зв'язку з'являється можливість здійснювати повний голосовий зв'язок з об'єктом, що при наявності на об'єкті важко хворих, людей похилого віку або дітей вкрай важливо.
    </p>
    <p>
        Підключення датчика температури із завданням 2-х температурних точок оповіщення дозволяє контролювати температурний режим приміщень, що охороняються.
    </p>
</section>
<section>
    <h2>Характеристики</h2>
    <ul>
        <li>4 охоронні зони (розширення до 12 зон);</li>
        <li>4 керовані виходи (розширення до 12 виходів);</li>
        <li>1 лінійний аудіо вхід (розширення до 8 входів);</li>
        <li>вхід "постановки-зняття" з охорони (можливість підключити клавіатуру);</li>
        <li>роз'єм для підключення плати "гучний зв'язок";</li>
        <li>десять номерів додзвону;</li>
        <li>голосове інтерактивне меню;</li>
        <li>можливість запису власних повідомлень (5 повідомлень по 6 сек);</li>
        <li>взаємодія з будь-якими охоронними централями за протоколом Contact ID;</li>
        <li>програмування з комп'ютера через COM порт (програма в комплекті) або з віддаленого комп'ютера через Інтернет використовуючи HyperTerminal вашого комп'ютера;</li>
        <li>системний час;</li>
        <li>SMS звіт, за запитом, про налаштування системи та стан рахунку;</li>
        <li>тестові повідомлення - у годинах (інтервал 1 година);</li>
        <li>типи зон - кожна зона може бути:<ul>
                <li>вхідна;</li>
                <li>прохідна;</li>
                <li>24 години;</li>
                <li>зона бездії.</li>
            </ul></li>
        <li>Кожна охоронна зона може використовуватися з функцією тривоги на розрив, замикання або зона з резистором у кінці шлейфу.</li>
    </ul>

</section>