---
permalink: uk/products/dma41-2s.html
layout: product
title: DMA 41-2s
menu_item: none
---

<div class="name">
    <h1>DМА 41-2s</h1>
<p>Contact ID оповіщувач.</p>
<p>Охоронна GSM сигналізація.</p>
</div>
<img class="banner" src="../assets/img/banner_dma41-2s.jpg" alt="DMA 41-2s photo" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Призначення:</h3>
				Підключення до стаціонарних об'єктів сигналізації для оповіщення про події, з використанням 
				протоколу Contact ID або охоронних зон.
                Охорона стаціонарних об'єктів з 2-х зон з дистанційним контролем через мережу GSM.
                <h3>Основні характеристики:</h3>
                <ul>
				    <li>Вихід "Телефонна лінія" для підключення до комунікаторів Contact ID.</li>
					<li>До 128 зон оповіщення за протоколом Contact ID </li>
					<li>Повний набір стандартних голосових та SMS повідомлень для сповіщення</li>	
					<li>16 голосових та SMS повідомлень, що індивідуально записуються.</li>
					<li>2 мови (Українська/Російська) інтерактивного меню та стандартних голосових повідомлень. </li>
                    <li>2 вхідні зони для підключення до сигналізацій або для повністю самостійної роботи.</li>
                    <li>Вхід постановки - зняття для роботи в режимі "Охоронна централь".</li>
                    <li>2 керованих дистанційно або автоматично виходу.</li>
                    <li>2 температурних датчика, що підключаються, для оповіщення про критичні температури. </li>
					<li>Вбудований модуль Bluetooth.</li>
                    <li>Програмування з Android смартфона чи комп'ютера через USB чи Bluetooth підключення.</li>
					<li>Віддалене програмування з мобільного телефону через SMS та DTMF команди. </li>
                </ul>
                <h3>Переваги:</h3>
				   <ul>
                     <li>Гнучка конфігурація із великою кількістю додаткових функцій.</li>
				     <li>Можливість використання як самостійна охоронна централь.</li>
				   </ul>
                <br /><br/>

            </section>
            <section>
                <h2>Опис</h2>
                <p>
                    Охоронний Contact ID оповіщувач "DМА41-2s" із вбудованим GSM модулем. Дві основні незалежні функції: Оповіщення власника про тривожні події для встановлених раніше охоронних систем. Можливе підключення як дублюючої чи розширюючої функції системи. 
					Друга функція: охоронна централь на дві охоронні зони. Обидві функції можуть працювати одночасно, не заважаючи одна одній.  
					Ця система чудово підійде як для охорони невеликих об'єктів, працюючи охоронною централлю, так і для великих об'єктів, за протоколом Contact ID
					Модуль може приймати Contact ID повідомлення від кількох охоронних централей одночасно, а також працювати паралельно з іншими, наприклад, пультовими, оповіщувачами, повідомляючи інформацію про події безпосередньо власнику.
					Широта застосування цієї системи обмежена лише розмірами мережі оператора мобільного зв'язку.
                </p>
                <p>
                    Основна відмінність наших сигналізацій від усіх конкурентів це можливість управління та контроль стану всієї системи як прямого дзвінка у вигляді голосового меню, тобто. абсолютно повна інтерактивність. У переважній більшості GSM сигналізацій управління та звіт проводиться через SMS, що вкрай не зручно та не прийнятно для охоронних систем.
                </p>
                <p>
                    Підключення 2-х датчиків температури із завданням 2-х температурних точок оповіщення дозволяє контролювати температурний режим приміщень, що охороняються, і зовнішню температуру.
                </p>
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
				    <li>вихід "телефонна лінія" для підключення стаціонарних об'єктних сигналізацій;</li>
					<li>робота з будь-якими охоронними централями за протоколом Contact ID;</li>
					<li>до 128 обслуговуваних зон і до 5 об'єктових сигналізацій, що обслуговуються, за протоколом Contact ID;</li>
                    <li>2 охоронні зони;</li>
                    <li>2 керованих виходи;</li>
                    <li>1 лінійний аудіо вхід;</li>
                    <li>вхід "постановки-зняття" з охорони (можливість підключити клавіатуру);</li>
                    <li>15 номерів абонентів для додзвону із можливістю вибору категорії доступу до приладу;</li>
                    <li>голосове інтерактивне меню;</li>
					<li>великий вибір підготовлених стандартних голосових та SMS повідомлень;</li>	
                    <li>можливість запису своїх голосових повідомлень (16 повідомлень по 5 сек);</li>
					<li>можливість запису власних SMS повідомлень (16 повідомлень);</li>				
                    <li>програмування з комп'ютера через USB порт, або з Android телефону через з'єднання Bluetooth;</li>
                    <li>системний час;</li>
                    <li>SMS звіт, за запитом, про налаштування системи та стан рахунку;</li>
                    <li>тестові повідомлення – у годинах (інтервал 1 год);</li>
                    <li>типи зон - кожна зона може бути:<ul>
                            <li>вхідна;</li>
                            <li>прохідна;</li>
                            <li>24 годинна;</li>
                            <li>зона бездіяльності (тривога у разі бездіяльності).</li>
                        </ul></li>
                    <li>кожна охоронна зона може використовуватися з функцією тривоги на розрив, замикання або зона з резистором наприкінці шлейфу.</li>
                    <li>кілька видів затримок для постановки, зняття та автоматична постановка на охорону<ul>
               </ul>
            </section>