---
permalink: uk/products/dtk53.html
layout: product
title: DTK-53
menu_item: none
---

<div class="name">
    <h1>DTK 53</h1>
<p> Автомобільна сигналізація з GPS-трекером.</p>
</div>
<img class="banner" src="../assets/img/banner_DTK53_k.jpg" alt="DTK 53 photo" />
<div class="shadow"></div>
<br/>
            <section>
                <h3>Призначення:</h3>
                Встановлення на автомобіль як додатковий пристрій оповіщення та контролю контролем через мережу GSM або як самостійний охоронний прилад з можливістю контролю місцезнаходження автомобіля його маршруту переміщення, зупинки тощо.
                <h3>Основні характеристики:</h3>
                <ul>
                    <li>2 вхідні зони</li>
                    <li>вхід постановки-зняття</li>
                    <li>2 керованих виходи</li>
                    <li>Голосові та SMS сповіщення</li>
                    <li>Програмування з мобільного телефону та комп'ютера</li>
                    <li>GPS трекінг</li>
                    <li>Вбудований акумулятор до 8 годин роботи без зовнішнього живлення</li>
                </ul>
                <h3>Переваги:</h3>
                <p/>GPS трекінг здійснюється через інтернет за допомогою різних картографічних найтів. Підтримує кілька типів протоколу з'єднання з GPS трекінговими сайтами.
                <p/>Поєднує функції голосового і SMS оповіщувача і функції GPS трекера.

            </section>
            <section>
                <h2>Характеристики</h2>
                <p/>GPS трекінг здійснюється через інтернет за допомогою різних картографічних найтів. Підтримує кілька типів протоколу з'єднання з GPS трекінговими сайтами.
                Поєднує функції голосового і SMS оповіщувача і функції GPS трекера.
                <ul class="long_list">
                    <li>Кількість охоронних зон 2</li>
                    <li>Кількість дистанційно керованих виходів - 2</li>
                    <li>Простота встановлення, система поставляється з налаштуваннями максимально наближених до більшості автомобілів. Можливість використання спільно зі штатними брелоками управління центральним замком.</li>
                    <li>Гнучка настройка обмеження доступу до 10 телефонних номерів дозволяє дозволити доступ до системи лише зареєстрованим користувачам, номери яких є у списку. Для кожного номера можна визначити лише події, інформацію про які бажає отримувати користувач у вигляді голосових повідомлень та/або SMS повідомлень.</li>
                    <li>Управління за допомогою DTMF сигналів із голосовими підказками, дозволяє користувачам керувати системою під час голосового з'єднання, тональними сигналами (DTMF) та отримувати голосові підтвердження, подібно до служби сервісу абонента стільникового оператора. Кожен сеанс з'єднання починається з введення пароля, що додатково захищає систему, крім ідентифікації користувача за номером телефону.</li>
                    <li>Звіт про тривоги голосовими та SMS повідомленнями на 10 номерів додзвону. При виявленні активного рівня на входах або, якщо відбувається аварійна системна подія (падіння зовнішнього живлення та ін.), DTK53 формує сигнальне текстове повідомлення та/або дзвонить за вказаними номерами.</li>
                    <li>Гнучка конфігурація вбудованих тривожних повідомлень та можливість запису своїх повідомлень.</li>
                    <li>Можливість дистанційної постановки та зняття з охорони.</li>
                    <li>Дистанційний аудіо-контроль через мікрофон. Прослуховування автомобіля, що охороняється, можна ініціювати через голосове адміністративне меню. DTK53 увімкне зовнішній мікрофон безпосередньо, після отримання DTMF-команди. Після закінчення прослуховування користувач може повернутися до голосового меню керування.</li>
                    <li>Можливість дистанційного блокування несправних датчиків тривоги та контролю більшості функцій приладу.</li>
                    <li>Широкі можливості для маршрутизації подій. Перехід входу до активного та/або пасивного стану може впливати на стан будь-якого виходу/виходів. Постановка на охорону та зняття з охорони може також впливати на стан виходів.</li>
                    <li>Можливість призначення імен – псевдонімів для входів та виходів. Кожен вхід та вихід має ім'я, яке використовується при запитах стану та керуванні. Кожен вхід має назву активного та пасивного стану. Імена - псевдоніми програмуються користувачем.</li>
                    <li>Незалежна конфігурація кожного із 2 входів. Для кожного можна запрограмувати:
                        <ul>
                            <li>назва датчика, назва активного та пасивного стану датчика;</li>
                            <li>межі тривожної зони - верхня та нижня межі зони визначають інтервал напруг, у якому вхід вважається активним;</li>
                            <li>тип входу: аналоговий/дискретний;</li>
                            <li>активний рівень має 3 режими: низький, вільний, високий та ін.;</li>
                            <li>цілодобовий контроль незалежно від режиму охорони для тривожної кнопки і т.д.;</li>
                            <li>дія при активному рівні на вході: голосовий додзвон, SMS, додзвон та SMS, жодних дій;</li>
                            <li>вплив на виходи.</li>
                        </ul>
                    </li>
                    <li>
                        Незалежна конфігурація кожного з двох виходів. Для кожного можна запрограмувати:
                        <ul>
                            <li>назву;</li>
                            <li>тип комутації: рівень чи імпульс, тривалість імпульсу;</li>
                            <li>дозволити/заборонити керування через голосове меню</li>
                        </ul>
                    </li>
                    <li>Програмовані тестові повідомлення та повідомлення про постановку-зняття з охорони.</li>
                    <li>Звіти у вигляді SMS про всі налаштування та стан системи</li>
                    <li>Дистанційне опитування балансу на SIM карті (може включатися до тестового повідомлення).</li>
                    <li>
                        Отримання координат GPS чотирма способами на вибір, або всі разом:
                        <ul>
                            <li>Через GPRS на сервер HTTP з базою даних. Картографічне програмне забезпечення для комплекту постачання не входить.</li>
                            <li>Через SMS-повідомлення з координатами об'єкта.</li>
                            <li>Через прямий додзвон GSM-data з отриманням координат на мобільний пристрій користувача.</li>
                            <li>
                                Через картографічні послуги наприклад:
                                http://gps-tracker.com.ua/
                                http://gps-trace.com/ ,
                                сигналізація сумісна з іншими сервісами.
                            </li>
                        </ul>
                    </li>
                    <li>Оповіщення при зниженні зовнішнього живлення та/або розряді акумулятора. DTK53 формує SMS та/або додзвонюється до зазначених абонентів у разі зниження та відновлення зовнішнього живлення, а також при розряді акумулятора до вказаного критичного рівня.</li>
                    <li>Бортовий журнал координат об'єкта у внутрішній пам'яті DTK-53 забезпечує захист від втрати даних трекінгу за відсутності GPRS/GSM мережі. Об'єм пам'яті достатній на кілька місяців роботи.</li>
                </ul>

            </section>