---
permalink: uk/products/exten.html
layout: product
title: Exten 8x7x8
menu_item: none
---

            <div class="name">
                <h1>Exten 8x7x8</h1>
                Модуль розширення охоронних зон та керованих виходів Exten 8x7x8
            </div>
			<img class="banner" src="../assets/img/banner_exten.jpg" alt="exten photo" />
			<div class="shadow"></div>
            <br/>
            <section>
                <h3>Призначення:</h3>
                Модуль використовується для збільшення кількості зон, що охороняються, керованих виходів і лінійних аудіо входів.
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>8 охоронних зон;</li>
                    <li>7 керованих виходів;</li>
                    <li>8 лінійних аудіо входів;</li>
                    <li>Кожна охоронна зона може використовуватись із функцією тривоги на розрив, замикання або зона з резистором у кінці шлейфу.</li>
                    <li>Виходи є відкритими колекторами транзисторів з максимальним струмом до 250ма.</li>
                    <li>При втраті зв'язку з модулем розширення формується тривога.</li>
                </ul>
            </section>
 