---
permalink: uk/products/reboot.html
layout: product
title: Rebuter
menu_item: none
---

            <div class="name">
                <h1>GSM ребутер</h1>
                GSM Ребутер на 5 керованих розеток
            </div>
		<img class="banner" src="../assets/img/banner_reboot.jpg" alt="Rebooter photo" />
        <div class="shadow"></div>
            <br/>
            <section>
                <h3>Призначення:</h3>
                GSM ребутер призначений для керування живленням різних пристроїв (увімкнення, вимикання або перезавантаження живлення) через дзвінок через мережу GSM або керуючу SMS.
                <h3>Основні характеристики:</h3>
                <ul>
                    <li>5 керованих розеток</li>
                    <li>Керування вхідним дзвінком</li>
                    <li>Керування SMS повідомленнями</li>
                    <li>Програмування з мобільного телефону</li>
                </ul>
                <h3>Переваги:</h3>
                <p/>Система забезпечує простий та недорогий доступ до управління живленням різних пристроїв, таких як маршрутизатори та інше мережеве обладнання або інші немічні навантаження. Пристрій не потребує спеціального монтажу та готовий до використання одразу після встановлення SIM картки.
            </section>
            <section>
                <h2>Опис</h2>
                <p>
                    GSM ребутер призначений для керування живленням різних пристроїв (увімкнення, вимикання або перезавантаження живлення) через дзвінок через мережу GSM або керуючу SMS. При обох методах управління можна включити кожен канал, вимкнути його, і навіть короткочасно зняти живлення з керованого приладу( провести перезавантаження питания). При керуванні дзвінком режими роботи підтверджуються звуковими сигналами, а під час роботи через керуючі SMS може бути запитана підтверджуюча SMS.
                </p>
            </section>
            <section>
                <h2>Характеристики</h2>
                <ul>
                    <li>5 керованих розеток;</li>
                    <li>максимальний струм на 1 розетку не більше 3А;</li>
                    <li>сумарний струм усіх розеток трохи більше 15А;</li>
                    <li>керування SMS командами з підтвердженням та без підтвердження;</li>
                    <li>ерування вхідним дзвінком та сигналами DTMF;</li>
                    <li>індикація режимів роботи світлодіодами;</li>
                    <li>Програмування системи за допомогою SMS;</li>
                </ul>
            </section>
