---
permalink: uk/products/usb_prog.html
layout: product
title: USB programmer
menu_item: none
---

<div class="name">
    <h1>USB programmer</h1>
<p> Програматор приладів DMA для Windows.</p>
</div>
<img class="banner" src="../assets/img/banner_USB_prog.jpg" alt="USB prog" />
<div class="shadow"></div>
<br/>
             <section>
                <h3>Призначення:</h3>
		Призначений для підключення приладів сімейства DMA до комп'ютера через USB.<br/>
	    Налаштування приладів здійснюється програмою DMAFlasher (це попередня версія працює з усіма приладами
		але не рекомендується для використання у нових приладах) <br/>
		Або програмою DmaCustomizer (ця програма рекомендована для використання у всіх нових версіях приладів)  <br/>
		Обидві програми та інструкцію по роботі ви можете знайти у розділі <a href="support.html">Підтримка.</a>	 <br/>
		Або завантажити за посиланням. <a href="../assets/download/DMA_USB_DC.zip">DmaCustomizer</a>
		
            </section>