<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

	{% if page.base %}
	  <base href="{{ page.base }}"/>
	{% endif %}
	  
	{% include meta.html %}
    {% include libs.html %}
  </head>
  <body>

    {% include menu.html %}

    {{ page.content }}

    {% include footer.html %}
	{% include lazy-libs.html %}
  </body>
</html>