<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    {% include meta.html %}
    {% include libs.html %}
  </head>
  <body bgcolor="#E6E6FA">
    {% include menu.html %}
    
    <style>
      .container {
        padding: 2em;
        max-width: 50em;
      }
      .product-view {
        position:relative;
        width: 100%;
        height: 15em;
        padding: 0 0.5em 1em;
        margin: 0.5em 0;
      }
      .product-view img {
        position:absolute;
        max-height:100%;
        max-width:100%;
        display:block;
        margin:auto;
        top:0;
        bottom:0;
        left:0;
        right:0;
      }
      .product-card {
        padding: 2em 1em;
      }
      hr {
        margin: 1em 2em 1.5em;
      }
    </style>

    <div class="container text-center">
			{% if page.lang == 'en' %}
				{% assign data = site.data.en.products %}
			{% else %}
				{% assign data = site.data.uk.products %}
			{% endif %}
				
				
      {% for group in data %}
        <h4>{{ group.title }}</h4>

        <div class="row">
          {% for item in group.items %}

            <div class="col-md-6 col-xs-12 product-card text-center product-card animated fadeIn">
              <h3>{{ item.name }}</h3>
              <div class="product-view">
                <img src="../assets/img/sm/{{ item.img }}"/>
              </div>
              <p class="description">
                {{ item.text }}
              </p>
              <hr/>
              <a href="{{ item.link }}" class="btn btn-primary">
				{% if page.lang == 'en' %}
					Details
				{% else %}
					Докладніше
				{% endif %}
			  </a>
            </div>

          {% endfor %}
        </div>
      
      {% endfor %}
    </div>

    {% include footer.html %}
	{% include lazy-libs.html %}
  </body>
</html>