<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    {% include meta.html %}

	<base href="../"/>
    {% include libs.html %}
  </head>
  <body>

    <style>
      .container {
        max-width: 50em;
        padding: 1em;
      }
      .name {
        font-size: 1.5em;
        padding: 0 0 1em;
        text-align: center;
        color: #500d0d;
      }
      h1, h2, h3 {
        margin-top: 1em;
      }
      .banner {
        width: 40em;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .shadow {
        margin: 0.1em;
        display: block;
        background-color: #cccccc;
        height: 0.5em;
        width: 25em;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
      }
    </style>
    
    {% include menu.html %}
    <div class="container animated fadeIn">
      {{ page.content }}
    </div>

    {% include footer.html %}
	{% include lazy-libs.html %}
  </body>
</html>