<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    {% include meta.html %}
    {% include libs.html %}
  </head>
  <body bgcolor="#E6E6FA">
    
    <style>
      .container {
        padding: 3em 1em 1em;
        max-width: 50em;
      }
      .container li {
        margin: 0 -2em;
        list-style-type: none;
      }
    </style>
    
    {% include menu.html %}

    <div class="container animated fadeIn">
			{% if page.lang == 'en' %}
				{% if page.data == 'archive' %}
					{% assign data = site.data.en.archive %}
				{% else %}
					{% assign data = site.data.en.support %}
				{% endif %}
			{% else %}
				{% if page.data == 'archive' %}
					{% assign data = site.data.uk.archive %}
				{% else %}
					{% assign data = site.data.uk.support %}
				{% endif %}
			{% endif %}
				
      {% for group in data %}
        <h5>{{ group.title }}</h5>
        
        <ul>
          {% for link in group.items %}
            <li><a href="../{{ link.link }}">{{ link.text }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

    {% include footer.html %}
	{% include lazy-libs.html %}
  </body>
</html>