---
permalink: /ru/contacts.html
layout: main
title: Контакты
menu_item: contacts
---

<style>
  .container {
    padding: 4em 4em 0;
    max-width: 40em;
  }
</style>

<div class="container animated fadeIn">
  <h4>Контакты</h4>
    <br>Digital Microautomatic. Цифровые технологии в системах автоматики.<br /> 
	Наш адрес        : Украина, г.Днепр, ул. Энергетическая 9а   <br />	
	Звоните нам тел. : +38-066-978-02-05  <br />
	Пишите нам E-mail: support@dma.inf.ua<br />
</div>