---
permalink: /ru/index.html
layout: main
title: Главная
menu_item: home
---

<style>
  .main-img {
    background-image: url(../assets/layout-img/welcome-img.jpg); 
    background-size: cover;
    padding: 4em;
  }
  .welcome-block {
    border-radius: 0.3em;
    background: rgba(0, 0, 0, 0.5);
    max-width: 50em;
    padding: 4em;
  }
  .welcome-block h2 {
    margin-bottom: 2em;
  }
  .welcome-block hr {
    width: 70%;
    border-bottom: 1px solid cadetblue;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  @media only screen and (max-width: 600px) {
    .welcome-block {
      padding: 4em 1em;
    }
    .main-img {
      padding: 0.5em;
    }
  }
</style>

<div class="container-fluid h-100 d-flex justify-content-center main-img animated fadeIn">
  <div class="text-white text-center welcome-block">
    <h2>Приветствуем Вас</h2>
    <p>
      Одно из направлений нашего предприятия это электроника и микроэлектроника.
      Здесь вы можете ознакомиться с нашими изделиями и найти всю информацию по их установке и программированию.
    </p>
    <hr/>
	 В разделе Продукция вы найдете полный список и описания всех изделий.<br>
	 В разделе Поддержка находится документация и программы для загрузки.<br>
	<br>
    <a href="products.html" class="btn btn-success">Смотреть продукцию</i></a>
    <a href="support.html" class="btn btn-success">Перейти в поддержку</i></a>
  </div>
</div>